.logo {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #56ccf2, #2f80ed, #56ccf2);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: Monoton, cursive !important;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    animation: hueShift 3s linear infinite;
  }
  
  @keyframes hueShift {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 200% center;
    }
  }
  